/* 전체 초기화 css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #333;
}

/* 화면 최소 크기 */
body {
  min-height: 100vh;
  font-size: 16px;
}

/* 공통 CSS */
.layout-Flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-Inline-Flex {
  display: inline-flex;
}

.layout-Flex-Item {
  display: flex;
}

.layout-float-left {
  float: left;
}

.layout-float-right {
  float: right;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  /* 위치 보기 */
}

.min-height-container {
  height: 100vh;
  margin-top: 95px;
  padding: 5rem 0;
}

.text-align-center {
  text-align: center;
}

.empty {
  min-height: 220px;
  line-height: 220px;
  padding: 1rem;
  background-color: #f1f1f1;
}

/* title css */
h2.title {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

h3.title {
  font-size: 1.4em;
  line-height: 1.4em;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

h4.title {
  font-size: 1.4em;
  line-height: 1.4em;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

p.text {
  line-height: 1.61em;
  font-weight: 300;
  font-size: 1.2em;
  letter-spacing: -0.8px;
  line-height: 1.7rem;
  word-break: keep-all;
}

.text-accent {
  font-weight: bold;
  color: #5f7dff;
}

.text-align-left {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

/* label type css */
.label-type-green {
  display: inline-block;
  background-color: #4ca542;
  height: 35px;
  line-height: 35px;
  min-width: 120px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.8px;
  color: #fff;
}

.label-type-blue {
  display: inline-block;
  background-color: #4991c2;
  height: 35px;
  line-height: 35px;
  min-width: 120px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.8px;
  color: #fff;
}

.label-type-purple {
  display: inline-block;
  background-color: #9040d1;
  height: 35px;
  line-height: 35px;
  min-width: 120px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.8px;
  color: #fff;
}

.label-type-red {
  display: inline-block;
  background-color: #d34659;
  height: 35px;
  line-height: 35px;
  min-width: 120px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.8px;
  color: #fff;
}

/* margin css */
.margin-top-1rem {
  margin-top: 1rem;
}

.margin-left-1rem {
  margin-left: 1rem;
}

.margin-right-1rem {
  margin-right: 1rem;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

/* text css */
.font-weight-bold {
  font-weight: bold;
}

.width100 {
  width: 100%;
}
