/* 로그인 전 홈페이지 */

/* 로그인 후 홈페이지 */
.main-left-box {
  float: left;
  width: 65%;
}

.main-left-box .main-asset-box {
  padding: 4rem 1rem 1rem;
  border: 1px solid #eee;
  border-radius: 5px;
}

.main-asset-info {
  font-size: 1.8rem;
  letter-spacing: -1px;
}

.main-right-box {
  float: right;
  width: 30%;
}

.main-center-box {
  overflow: hidden;
  width: 100%;
}

.main-center-box::after {
  display: block;
  clear: both;
  content: '';
}

.main-asset-graph {
  margin: 2rem 0;
  padding: 1rem;
}

/* graph list info css */
.asset-graph-list {
  margin: 0.5rem 0;
  padding: 1rem;
  border: 2px solid #eee;
  border-radius: 8px;
}

.asset-graph-list li {
  position: relative;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0.5rem 1.8rem 0.5rem 1.3rem;
  font-size: 1.13rem;
  font-weight: 600;
}

.asset-graph-list li::before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.asset-graph-list li.sefe::before {
  background-color: #5686f7;
}
.asset-graph-list li.warring::before {
  background-color: #69c774;
}
.asset-graph-list li.warring-1::before {
  background-color: #f7ce46;
}
.asset-graph-list li.warring-2::before {
  background-color: #ee8031;
}
.asset-graph-list li.warring-3::before {
  background-color: #eb4a64;
}

.point-priview {
}

/* 퀴즈 */
.financial-quiz {
  position: relative;
  min-height: 200px;
}

.financial-quiz .quiz-submit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7f5ff;
}

.financial-quiz .quiz-submit > div {
  padding: 50px 10px 10px 0;
  padding-left: 130px;
}

.financial-quiz .title-box {
  overflow: hidden;
}

.financial-quiz .title-box h2 {
  float: left;
}

.financial-quiz .title-box span {
  float: right;
}

.quiz-question {
}
.quiz-question p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: -0.8px;
  line-height: 1.7rem;
  word-break: keep-all;
}

.quiz-options {
  overflow: hidden;
  text-align: center;
}

.quiz-options .option-button {
  display: inline-block;
  border-radius: 5px;
  width: 50%;
  cursor: pointer;
}
