/* 테이블 상단 */
.table-top-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.custom-alert {
  margin: 0;
  display: inline-block;
  color: #555;
  letter-spacing: -0.7px;
  padding: 12px 16px;
  border-radius: 12px;
  background: var(--gray020, #fffbec);
  color: var(--font-secondary, #475067);
}
.custom-alert i {
  color: #f7d095;
  margin-right: 5px;
}

dl.total {
  display: flex;
  align-items: baseline;
  font-size: 1.2rem;
}

dl.total dt {
  font-weight: 300;
}
dl.total dd {
  font-weight: 400;
  margin-left: 5px;
  color: #6846f5;
  margin-bottom: 0;
  font-size: 24px;
}

/* 테이블 */
.table {
  width: 100%;
  border-top: 2px solid #5d39eb;
  border-spacing: 0;
  border-collapse: collapse;
  box-sizing: border-box;
}

.table thead th {
  height: 40px;
  padding: 0 20px !important;
  border-bottom: 1px solid #ddd;
  background: #6846f5;
  color: #fff;
  text-align: center !important;
  vertical-align: middle;
  border-right: 1px solid #cfc6fd;
}

.table thead th:last-child {
  border-right: 0;
}

.table thead tr th.text-align-left,
.table tbody tr td.text-align-left {
  text-align: left;
}

.table tbody tr:hover td.link a {
  cursor: pointer;
  color: #6846f5;
  text-decoration: underline;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.table tbody td {
  height: 45px;
  padding: 1.2rem 15px !important;
  line-height: 25px;
  border-bottom: 1px solid #f1eeff;
  letter-spacing: -0.02em;
  text-align: center;
  vertical-align: middle !important;
  white-space: pre-line;
  border-right: 1px solid #eee;
}
.table tbody td:last-child {
  border-right: 0;
}
.badge {
  height: 20px;
  line-height: 19px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #7d64da;
  font-size: 15px !important;
  color: #fff !important;
  vertical-align: middle;
  text-align: center;
  font-weight: 600;
  margin-right: 5px;
  margin-bottom: 5px;
}
.table tbody .link a {
  padding: 0;
  font-size: 18px;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  color: #222;
  font-weight: 500;
}

.table tbody .date {
  font-size: 16px;
  font-weight: 500;
  color: #6d6d6d;
  line-height: 22px;
}

.table-ex-info li {
  margin-top: 8px;
  display: inline-block;
  margin-right: 8px;
  font-size: 14px;
  color: #c9c9c9;
}

/* 게시판 인기글 */
.table .top-post td {
  background-color: #fbfbff;
}
.table .top-post td.link a {
  padding-left: 1.8rem;
}

.table .truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
  position: relative;
}

.table .truncated:hover::after {
  content: attr(title);
  position: absolute;
  left: 0;
  top: 100%;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  white-space: nowrap;
  z-index: 1000;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.table .new-label {
  color: #6846f5;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.8px;
  margin-left: 8px;
}

/* 페이지 네이션 */
.pagination {
}
